body {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
}

/*** header styles ***/

#header_menu li a {
  padding-top: 41px;
  padding-bottom: 42px;
  font-size: 1.3em;
  color: #414141;
}

#header_menu li a:hover {
  color: #000;
  background-color: #d8d8d8;
}

nav {
  height: 104px;
  background-color: #e7e7e7 !important;
  box-shadow: 0px 3px 5px #888888;
}

nav .navbar-brand img {
  height: 77px;
}

nav .navbar-toggle {
  border: none !important;
  margin-top: 35px;
}

/* scrolling beharior */
nav, nav .navbar-brand img {
  transition: height 0.5s;
}

nav .navbar-toggle {
  transition: margin-top 0.5s;
}

nav .navbar-brand {
  transition: padding 0.5s;
}

nav #header_menu li a {
  transition: padding 0.5s;
}

nav.reduced {
  height: 50px;
}

nav.reduced .navbar-brand {
  padding: 3px;
}

nav.reduced .navbar-brand img {
  height: 40px;
}

nav.reduced #header_menu li a {
  padding-top: 14px;
  padding-bottom: 15px;
}

nav.reduced .navbar-toggle {
  margin-top: 10px;
}

/*** main body styles ***/

main .heading {
  text-align: center;
  padding: 40px 0;
}

main .heading h1 {
  font-size: 48px !important;
}

main .heading h1, main .heading h2 {
  margin-top: 0;
}

main #jumbotron {
  /* not implemented yet */
  height: 700px;
  background-color: #fff;
}

main #services {
  /* not implemented yet */
  height: 600px;
  background-color: #e7e7e7;
}

main #customers {
  /* not implemented yet */
  height: 400px;
  background-color: #fff;
}

main #call_form {
  padding-bottom: 40px;
  background: linear-gradient(to bottom, #b96835, #bf8418);
  color: #fff;
}

main #call_form input, main #call_form textarea {
  margin-bottom: 15px;
}

/*** footer styles ***/

footer {
  background-color: #2e3032;
  color: #fff;
}

footer .footer_heading {
  margin-top: 20px;
  margin-bottom: 10px;
}

footer ul {
  padding-left: 0;
  list-style-type: none;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #dadada;
}

footer #copyright {
  margin-bottom: 10px;
}

footer .glyphicon {
  margin-right: 5px;
}

footer .contact{
  margin-top: 20px;
}

@media (max-width: 991px) {
  #header_menu {
    background: #e7e7e7;
    margin-top: 30px;
  }
  
  nav.reduced #header_menu {
    margin-top: 1px;
  }

  #header_menu li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  #header_menu li a:hover {
    border-color: #e7e7e7;
  }
}
