body {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
}

/*** header styles ***/

#header_menu li a {
  padding-top: 41px;
  padding-bottom: 42px;
  font-size: 1.3em;
  color: #414141;
}

#header_menu li a:hover {
  color: #000;
  background-color: #d8d8d8;
}

nav {
  height: 104px;
  background-color: #e7e7e7 !important;
  box-shadow: 0px 3px 5px #888888;
  opacity: 0.9;
}

nav .navbar-brand img {
  height: 77px;
}

nav .navbar-toggle {
  border: none !important;
  margin-top: 35px;
}

/* scrolling beharior */
nav, nav .navbar-brand img {
  transition: height 0.5s;
}

nav .navbar-toggle {
  transition: margin-top 0.5s;
}

nav .navbar-brand {
  transition: padding 0.5s;
}

nav #header_menu li a {
  transition: padding 0.5s;
}

nav.reduced {
  height: 50px;
}

nav.reduced .navbar-brand {
  padding: 3px;
}

nav.reduced .navbar-brand img {
  height: 40px;
}

nav.reduced #header_menu li a {
  padding-top: 14px;
  padding-bottom: 15px;
}

nav.reduced .navbar-toggle {
  margin-top: 10px;
}

/*** main body styles ***/

main .heading {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 40px;
  background-image: url('images/over_heading.png');
  background-position: center top;
  background-repeat: no-repeat;
}

main .heading h1, main .heading h2 {
  margin-top: 0;
}

main .heading h2 {
  opacity: 0.7;
}

main #jumbotron {
  background-image: url('images/jumbotron_bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main #jumbotron .jumbotron .col-sm-6 {
  padding: 5px;
}

main #jumbotron .jumbotron {
  margin-top: 150px;
  background: inherit !important;
  text-align: center;
}

main #services {
  padding-bottom: 0;
}

main #services img {
  min-width: 100%;
  opacity: 1;
  transition: opacity 0.5s;
}

main #services .col-md-4 {
  padding: 0 !important;
  overflow: hidden;
  height: 200px;
}

main #services .service_caption {
  position: absolute;
  text-align: center;
  bottom: 5%;
  left: 10%;
  width: 80%;
  color: #fff;
  text-shadow: 0 1px 1px #000;
}

main #customers {
  background-color: #e7e7e7;
  padding-bottom: 40px;
}

main #customers .customer_logo {
  text-align: center;
  overflow: hidden;
  opacity: 0.7;
  transition: opacity 0.5s;
}

main #customers .customer_logo:hover {
  opacity: 1;
}

main #customers img {
  min-width: 100%;
  margin-top: 35%;
}

main #call_form {
  background: linear-gradient(to bottom right, #b96835, #bf8418);
  padding-bottom: 40px;
  color: #fff;
}

main #call_form input, main #call_form textarea {
  margin-bottom: 15px;
}

main #contacts #dzer_contact {
  padding-bottom: 15px;
  border-bottom: 1px solid #dadada;
  margin-left: 20px;
}

main #contacts p {
  margin-left: 30px;
  font-size: 1.1em;
}

main #contacts #nn_contact {
  margin-top: 15px;
  margin-left: 20px;
}

main #contacts #dzer_map, main #contacts #nn_map {
  height: 300px;
}

/*** footer styles ***/

footer {
  background-color: #2e3032;
  color: #fff;
}

footer .footer_heading {
  margin-top: 20px;
  margin-bottom: 10px;
}

footer ul {
  padding-left: 0;
  list-style-type: none;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #dadada;
}

footer #copyright {
  margin-bottom: 10px;
}

footer .glyphicon {
  margin-right: 5px;
}

footer .contact{
  margin-top: 20px;
}

@media (max-width: 991px) {
  #header_menu {
    background: #e7e7e7;
    margin-top: 30px;
  }
  
  nav.reduced #header_menu {
    margin-top: 1px;
  }

  #header_menu li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  #header_menu li a:hover {
    border-color: #e7e7e7;
  }
}
